<!-- This view displays all the blog posts -->

<!-- Include Head -->
<% include header.ejs %>

<!-- Entry Title and Edit Buttons -->
    <% for(var i=0; i<entries.length; i++) {%>
<div class="post">
	<div>
		<!-- Post Title -->
		<h1 class="post-title"><%= entries[i].title %></h1>
		<!-- Edit Buttons -->
		<div id="editbuttons" class="" role="group" >
		  <button type="button" class="btn btn-default">Edit</button>
		  <button onclick="deleteEntry('<%= entries[i]._id %>')" type="button" id="<%= entries[i]._id %>" class="">Delete</button>
		</div>		
	</div>
	<!-- Entry Content -->
		<div class="post-content">
			   <p><%= entries[i].content %></p>
			<% } %>
		</div>
	</div>
<!-- Include Footer -->
<% include footer.ejs %>


