<!-- This view displays all the blog posts -->

<!-- Include Head -->
<% include header.ejs %>

<h1><%= title %></h1>

<ul>
<% for(var i=0; i<entries.length; i++) {%>
   <li><%= entries[i].entrytitle %></li>
   <li><%= entries[i].entrycontent %></li>
<% } %>
</ul>

<!-- Include Footer -->
<% include footer.ejs %>