<!-- This view displays all the blog posts -->

<!-- Include Head -->
<% include header.ejs %>

<!-- Entry Title and Edit Buttons -->
    <% for(var i=0; i<entries.length; i++) {%>
<div class="row">
	<div class="title-autowidth">
		<h1><%= entries[i].title %></h1>
	</div>
	<div class="col-md-6">
		<div id="editbuttons" class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default">Edit</button>

		  <button onclick="deleteEntry('<%= entries[i]._id %>')" type="button" id="<%= entries[i]._id %>" class="btn btn-default btn-danger">Delete</button>
		</div>		
	</div>
</div>
<!-- Entry Content -->
<div class="row">
	<div class="col-xs-12 center-block">
           <p><%= entries[i].content %></p>
        <% } %>
    </div>
</div>
<!-- Include Footer -->
<% include footer.ejs %>


