<!-- This view displays all the blog posts -->

<!-- Include Head -->
<% include header.ejs %>

<div class="row">
    <div class="col-xs-12 center-block">
        <% for(var i=0; i<entries.length; i++) {%>
           <h1><%= entries[i].entrytitle %></h1>
           <p><%= entries[i].entrycontent %></p>
        <% } %>
    </div>
</div>

<!-- Include Footer -->
<% include footer.ejs %>