<!-- editblog.js -->
<script src="javascripts/editblog.js"></script>

<!--JQUERY-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Bootstrap Javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- Close container div -->
</div>

<!--Close body-->
</body>

<!--Close html-->
</html>