<!doctype html>
<html>

<head>
    <title>Node Blog</title>

    <link rel="stylesheet" href="stylesheets/style.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="fonts/typography.css">
    <!-- Reset -->
    <link rel="stylesheet" href="stylesheets/reset.css">

    <!-- Bootstrap -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->

</head>

<body>

<div id="mycontainer" class="center-block">
    <div class="row">
        <ul class="nav nav-tabs">
            <li><a href="newpost">New Post</a></li>
            <li><a href="blogroll">Blog Roll</a></li>
        </ul>
    </div>

    <div>
        <h1 class="page-title"><%= title %></h1>
    </div>
