<!-- This view allows user to create and post a new blog entry. -->

<!-- Include Head -->
<% include header.ejs %>

<h1><%= title %></h1>

<form name="entryform" method="post" action="/postentry">
	Entry Title:
	<br>
	<input type="text" name="entrytitle">
	<br> Entry Content:
	<br>
	<input type="text" name="entrycontent">
	<br>
	<button type="submit">submit</button>
</form>

<!-- Include Footer -->
<% include footer.ejs %>