<!-- This view allows user to create and post a new blog entry. -->

<!-- Include Head -->
<% include header.ejs %>

<form name="entryform" method="post" action="/insertpost">
	<div class="row">
		<div class="col">
			<input type="text" name="title" class="form-control" placeholder="title">
		</div>
		<div class="col">
			<ul>
				<li><a href="#">save</a></li>
				<li><a href="#">publish</a></li>
				<li><a href="#">delete</a></li>
			</ul>
		</div>
	</div>
	<textarea id="newpost-content" type="text" name="content" class="form-control" rows="10"></textarea>
	
	<button class="btn btn-default" type="submit">Submit</button>
</form>

<!-- Include Footer -->
<% include footer.ejs %>