<!-- This view displays a table of the users -->

<!-- Include Head -->
<% include header.ejs %>
<div class="center-block width">
	<br>
	<table id="usertable">
	  <thead>
	    <tr>
	      <th>Username</th>
	      <th>Email</th>
	      <th>Delete</th>
	    </tr>
	  </thead>
	    <tbody></tbody>
	</table>
</div>
<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Below JQUERY BECAUSE IT RELIES ON IT -->
<script src="javascripts/usertable.js"></script>
<!-- Include Footer -->
<% include footer.ejs %>