<!-- This view displays a table of the users -->

<!-- Include Head -->
<% include header.ejs %>
<span id="userInfoName"></span>
<br>
<span id="userInfoAge"></span>
<br>
<span id="userInfoGender"></span>
<br>
<span id="userInfoLocation"></span>
<br>
<span id="userInfoId"></span>


<table id="usertable">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Delete?</th>
    </tr>
  </thead>
    <tbody></tbody>
</table>
<br>
<!-- Add new user form -->
<h2>Add User</h2>
<form id="newUserForm" name="newUserForm" method="post" action="/newuser">
	<input id="inputUserName" type="text" name="userName" placeholder="User Name">
	<input id="inputUserEmail" type="text" name="userEmail" placeholder="Email">	
	<br>
	<input id="inputUserFullName" type="text" name="userFullName" placeholder="Full Name">
	<input id="inputUserAge" type="text" name="userAge" placeholder="Age">	
	<br>
	<input id="inputUserLocation" type="text" name="userLocation" placeholder="Location">
	<input id="inputUserGender" type="text" name="userGender" placeholder="Gender">	
	<br>
	<button id="btnAddUser">Add User</button>
</form>



<!--JQUERY-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="javascripts/usertable.js"></script>
<!-- Include Footer -->
<% include footer.ejs %>